*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/
header {
    padding: 20px;
    text-align: center;
    background-color: rgb(35, 200, 241);
}

.header-logo {
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

nav {
    text-align: center;
}

.topnav {
    padding: 20px;
}

.topnav a {
    text-decoration: none;
    color: white;
}

/*content*/
main {
    display: flex;
    margin: 20px;
}

.content {
    background-color: rgb(254, 227, 137);
    flex: 3;
    padding: 20px;
    margin-right: 20px;
}

/*sidebar*/
.sidebar {
    background-color: rgb(241, 110, 35);
    flex: 1;
    padding: 20px;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

/*footer*/
footer {
    padding: 10px;
    text-align: center;
    background-color: rgb(202, 197, 207);
}

.isi-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.isi-footer p {
    margin: 0;
    font-family: sans-serif;
}